@using MVC_Hospitales.Models
@model IQueryable<PLANTILLA>

<link href="@Url.Content("~/SASS/main.css")" rel="stylesheet" />

@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    APELLIDO
                </th>
                <th>
                    FUNCIÓN
                </th>
                <th>
                    TURNO
                </th>
                <th>
                    SALARIO
                </th>
                <th>
                    ACCIONES
                </th>
            </tr>
        </thead>

        @foreach (var plan in Model)
        {
            <tbody>
                <tr>
                    <td class="align-middle">
                        @plan.APELLIDO
                    </td>
                    <td class="align-middle">
                        @plan.FUNCION
                    </td>
                    <td class="align-middle">
                        @plan.T
                    </td>
                    <td class="align-middle">
                        @plan.SALARIO €.
                    </td>
                    <td class="align-middle">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Descargar informe", "InformeEmpleado", "Gestion", new { docNo = plan.EMPLEADO_NO }, new { @class = "dropdown-item", target = "_blank" })</li>
                                <li><a class="dropdown-item" href="#">Editar datos empleado</a></li>
                                <li>@Html.ActionLink("Eliminar empleado", "EliminarEmp", "Gestion", new { id = plan.EMPLEADO_NO }, new { @class = "dropdown-item", onclick = $"return confirm('¿Está seguro que quiere eliminar el registro del empleado {plan.APELLIDO}?');" })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        }

    </table>
}

else
{
    <h2 style="color:red">No existe personal médico en este hospital</h2>
}